	<div class="panel panel-default">
		<div class="panel-heading">Saioa hasi</div>
		<div class="panel-body">
			<div>
				<form method="post" action="login">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="row">
									<input class="form-control" type="text" id="login" name="login" size="30" placeholder="Posta" autofocus/>
								</div>
								<hr>
								<div class="row">
									<input class="form-control" type="password" id="password" name="password" size="30" placeholder="Pasahitza" data-toggle="tooltip" data-placement="right" title="Gutxienez 8 karaktere, gutxienez letra larri bat, letra xehe bat eta zenbaki bat izan behar ditu."/>
								</div>
								<hr>
								<div class="row">
									<input class="btn btn-default" name="commit" type="submit" value="Saioa hasi"/>
								</div>
								<hr>
								<div class="row">
									<a href="/students">Erregistratu</a>
									<br/><br/>
									<a href="/modifipass">Pasahitza ahaztu zaizu?</a>
								</div>
							</div>
							<div class="col-sm-12 col-md-4">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
