
	<div class="up_down_margin">
	    <h1 style="font-style: bold ">Zer da placeForMe?</h1>
	    <p>Donostiako informatika fakultateko Magna SIS Junior Enpresak sorturiko aplikazioa da, hirugarren eta laugarren mailetako irakasgaietako eskaria estimatzeko helburua duena.</p>
	    <p>Behin erregistratuta, “Nire irakasgaiak” atalean ikusi ahal izango dituzu zein irakasgai dituzun eskuragarri datorren urtean eta zenbat ikaslek nahi duten horietako bakoitza.</p>
	    <br><br>
	    <div class="row"><div class="col-md-12">
	    <iframe width="560" height="315" src="https://www.youtube.com/embed/czb8NaLAggM?autoplay=0" frameborder="0" allowfullscreen></iframe>
	    </div></div>
	    
    </div>